    ;; list of key codes in Karabiner: 
    ;;   https://github.com/pqrs-org/Karabiner-Elements/issues/925
    ;; !  | mandatory  (not recursive) modifiers which must be pressed
    ;; #  | optional   (recursive) modifiers which can be pressed
    ;; !! | command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;;
    ;; need to prefix C T O S F with ! or #
    ;;
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

    ;; each manipulator has a description and multiple rules

    ;;{:des "..."                               ;; -> description
    ;; :rules[
    ;;          [<from>  <to>  <conditions>]    ;; -> rule 1
    ;;          [<from>  <to>  <conditions>]    ;; -> rule 2
    ;; ]}

    ;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
    ;;       |_____| |_______________| |_| |_________________________________________|
    ;;        <from>    <to>      <conditions>         <other options>
    ;;
    ;; karabiner docs: ;; https://pqrs.org/osx/karabiner/json.html#complex_modifications-manipulator-definition
    ;; <other options> includs ~to_if_alone~, ~to_if_held_down~,~to_after_key_up~, ~to_delayed_action~ and ~parameters~.
    ;;

    ;; (custom variables) & modifiers -> Advanced
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#custom-variable


; EXAMPLES:
; https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126


{:profiles
 {:Default {:default true
                  
                                
         :sim     50   ;; simultaneous_threshold_milliseconds (def: 50)
                       ;; keys need to be pressed within this threshold to be considered simultaneous
         :delay   80   ;; to_delayed_action_delay_milliseconds (def: 500)
                       ;; basically it means time after which the key press is count delayed

         :alone   500  ;; to_if_alone_timeout_milliseconds (def: 1000)
                       ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
         :held    70   ;; to_if_held_down_threshold_milliseconds (def: 500)
                       ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
         }
                :delay   500    
                                
                :alone   500    
                                
                :held    1000   
  }

 :devices {
    :apple [
            {:vendor_id 1452}
            {:vendor_id 76}
    ]
  }

:layers {
            ;:caps-mode {:key :caps_lock :alone {:key :escape}}
         }

:simlayers {
            :x-mode {:key :x} ; TODO: maybe if I copy it and add S, xS= will work? 
            :c-mode {:key :c}
            :z-mode {:key :z}
            :v-mode {:key :v}
            :q-mode {:key :q}
            :space-mode {:key :spacebar} 
            }

 :templates {
             :focus_desktop "/usr/local/bin/yabai -m space --focus %d"
             :send_to_desktop "/usr/local/bin/yabai -m window --space %d"
             ;; https://github.com/koekeishiya/yabai/issues/83
             :monocle_toggle "/Users/sojourner/dotfiles/karabiner/toggle_monocle_mode.sh"
             :test_mode "osascript -e 'display notification \"its me! %d\"'"}
             
:main [
       {:des "yabai"
        :rules [
                [:!Q1 [:focus_desktop 1]]
                [:!SQ1 [:send_to_desktop 1]]
                [:!Q2 [:focus_desktop 2]]
                [:!SQ2 [:send_to_desktop 2]]
                [:!Q3 [:focus_desktop 3]]
                [:!SQ3 [:send_to_desktop 3]]
                [:!Q4 [:focus_desktop 4]]
                [:!SQ4 [:send_to_desktop 4]]
                [:!Q5 [:focus_desktop 5]]
                [:!SQ5 [:send_to_desktop 5]]
                [:!Q6 [:focus_desktop 6]]
                [:!SQ6 [:send_to_desktop 6]]
                [:!Q7 [:focus_desktop 7]]
                [:!SQ7 [:send_to_desktop 7]]
                [:!Q8 [:focus_desktop 8]]
                [:!SQ8 [:send_to_desktop 8]]
                [:!Q9 [:focus_desktop 9]]
                [:!SQ9 [:send_to_desktop 9]]
                [:!Q0 [:focus_desktop 10]]
                [:!SQ0 [:send_to_desktop 10]]

                ; toggle monocle mode for current space
                [:!Qw [:monocle_toggle]]
                ; toggle floating and bring to center 
                [:!Qe ["/usr/local/bin/yabai -m window --toggle float; /usr/local/bin/yabai -m window --grid 4:4:1:1:2:2"]]
                ; rotate windows
                [:!Qr ["/usr/local/bin/yabai -m space --rotate 90"]]
                ; move focus around windows
                [:!Ql ["/usr/local/bin/yabai -m window --focus east"]]
                [:!Qh ["/usr/local/bin/yabai -m window --focus west"]]
                [:!Qk ["/usr/local/bin/yabai -m window --focus north"]]
                [:!Qj ["/usr/local/bin/yabai -m window --focus south"]]
                [:!Qopen_bracket ["/usr/local/bin/yabai -m window --focus prev"]]
                [:!Qclose_bracket ["/usr/local/bin/yabai -m window --focus next"]]
                ; non-native fullscreen
                [:!Qf ["/usr/local/bin/yabai -m window --toggle zoom-fullscreen"]]
                [:!Qq ["/usr/local/bin/yabai -m window --close"]]
        ]}
       {:des "make apple keyboard more like kinesis"
        :rules [
                [:##grave_accent_and_tilde :hyphen :apple]
                [:##left_control :left_control :apple {:alone :grave_accent_and_tilde} ]
                [:##hyphen :vk_none :apple]
        ]}
       {:des "vim-mode"
         :rules [:space-mode
                 [:l :right_arrow]
                 [:h :left_arrow]
                 [:j :down_arrow]
                 [:k :up_arrow]
                 [:e :!Oright_arrow]
                 [:b :!Oleft_arrow]
                 [:0 :!Cleft_arrow]
                 [:4 :!Cright_arrow]
                ]}
       {:des "exo"
          :rules [:z-mode
                  [:equal_sign [:focus_desktop 14]]
                  [:!Sequal_sign [:send_to_desktop 14]]
                ]}
       {:des "code editor"
          :rules [:v-mode
                  [:equal_sign [:focus_desktop 13]]
                  [:!Sequal_sign [:send_to_desktop 13]]
                ]}
       {:des "chats"
          :rules [:q-mode
                  [:equal_sign [:focus_desktop 12]]
                  [:!Sequal_sign [:send_to_desktop 12]]
                ]}
       {:des "terminal"
          :rules [:x-mode
                  [:equal_sign [:focus_desktop 15]]
                  [:!Sequal_sign [:send_to_desktop 15]]
                ]}
       {:des "domains (chrome)"
          :rules [:c-mode
                  [:equal_sign [:focus_desktop 16]]
                  [:!Sequal_sign [:send_to_desktop 16]]
                  ; rest (quit)
                  ;[:1 [:focus_desktop 12]]
                  ;[:!S1 [:send_to_desktop 12]]
                  ;; strategy (what)
                  ;[:2 [:focus_desktop 13]]
                  ;[:!S2 [:send_to_desktop 13]]
                  ;; exo/pkm
                  ;[:3 [:focus_desktop 11]]
                  ;[:!S3 [:send_to_desktop 11]]
                  ;; lair
                  ;[:4 [:focus_desktop 10]]
                  ;[:!S4 [:send_to_desktop 10]]
                  ;; body (CT [scan])
                  ;[:5 [:focus_desktop 16]]
                  ;[:!S5 [:send_to_desktop 16]]
                  ;; Nk (N)
                  ;[:6 [:focus_desktop 3]]
                  ;[:!S6 [:send_to_desktop 3]]
                  ;; people (C U)
                  ;[:7 [:focus_desktop 15]]
                  ;[:!S7 [:send_to_desktop 15]]
                  ;; heal (oohm)
                  ;[:9 [:focus_desktop 14]]
                  ;[:!S9 [:send_to_desktop 14]]
                  ;; flair 
                  ;[:0 [:focus_desktop 2]]
                  ;[:!S0 [:send_to_desktop 2]]
                  ]}
;       {:des "right cmd -> meh"
;         :rules [[:##right_command :!CTright_option nil {:alone :right_command}]]}
;        {:des "right command mode"
;         :rules [:righ_command-mode
                 ;[:open_bracket :!SOTopen_bracket]
                 ;[:close_bracket :!SOTclose_bracket]
                 ;[:semicolon :!SOTsemicolon]
                 ;[:quote :!SOTquote]
                 ;[:comma :!SOTcomma]
                 ;[:period :!SOTperiod]
                 ;[:slash :!SOTslash]
                 ;[:a :!SOTa]
                 ;[:b :!SOTb]
                 ;[:c :!SOTc]
                 ;[:!Cc :!CSOTc]
                 ;[:d :!SOTd]
                 ;[:e :!SOTe]
                 ;[:f :!SOTf]
                 ;[:g :!SOTg]
                 ;[:h :!SOTh]
                 ;[:i :!SOTi]
                 ;[:j :!SOTj]
                 ;[:k :!SOTk]
                 ;[:l :!SOTl]
                 ;[:m :!SOTm]
                 ;[:n :!SOTn]
                 ;[:o :!SOTo]
                 ;[:p :!SOTp]
                 ;[:q :!SOTq]
                 ;[:r :!SOTr]
                 ;[:s :!SOTs]
                 ;[:t :!SOTt]
                 ;[:u :!SOTu]
                 ;[:v :!SOTv]
                 ;[:w :!SOTw]
                 ;[:x :!SOTx]
                 ;[:y :!SOTy]
                 ;[:z :!SOTz]
                 ;[:1 :!SOT1]
                 ;[:!C1 :!CSOT1]
                 ;[:2 :!SOT2]
                 ;[:3 :!SOT3]
                 ;[:4 :!SOT4]
                 ;[:5 :!SOT5]
                 ;[:6 :!SOT6]
                 ;[:7 :!SOT7]
                 ;[:8 :!SOT8]
                 ;[:9 :!SOT9]
;                 [:0 :!SOT0]]}
]}
