{:profiles
 {:Default {:default true
         :sim     50
         :delay   80
         :alone   120
         :held    70}}

:layers {
            ;:caps-mode {:key :caps_lock :alone {:key :escape}}
         }

:simlayers {
            :x-mode {:key :x}
            :v-mode {:key :v}
            :z-mode {:key :z}
            }

 :templates {:focus_desktop "/usr/local/bin/chunkc tiling::desktop --focus %d"
             :send_to_desktop "/usr/local/bin/chunkc tiling::window --send-to-desktop %d"
             :test_mode "osascript -e 'display notification \"its me! %d\"'"}


:main [{:des "v"
         :rules [:v-mode
                 [:l :k]
                 [:o :i]
                 [:0 :8]
                 [:period :comma]
                 [:k :k]
                 [:i :i]
                 [:up_arrow :right_arrow]
                 [:down_arrow :left_arrow]
                 [:8 :8]
                 [:comma :comma]
                 [:spacebar :spacebar]
                ]}
       {:des "terminal"
          :rules [:x-mode
                  [:equal_sign [:focus_desktop 6]]
                ]}
       {:des "domains (chrome)"
          :rules [:z-mode
                  [:equal_sign [:focus_desktop 5]]
                  [:!Sequal_sign [:send_to_desktop 5]]
                  ; rest (quit)
                  [:1 [:focus_desktop 12]]
                  [:!S1 [:send_to_desktop 12]]
                  ; strategy (what)
                  [:2 [:focus_desktop 13]]
                  [:!S2 [:send_to_desktop 13]]
                  ; exo/pkm
                  [:3 [:focus_desktop 11]]
                  [:!S3 [:send_to_desktop 11]]
                  ; lair
                  [:4 [:focus_desktop 10]]
                  [:!S4 [:send_to_desktop 10]]
                  ; body (CT [scan])
                  [:5 [:focus_desktop 16]]
                  [:!S5 [:send_to_desktop 16]]
                  ; Nk (N)
                  [:6 [:focus_desktop 3]]
                  [:!S6 [:send_to_desktop 3]]
                  ; people (C U)
                  [:7 [:focus_desktop 15]]
                  [:!S7 [:send_to_desktop 15]]
                  ; heal (oohm)
                  [:9 [:focus_desktop 14]]
                  [:!S9 [:send_to_desktop 14]]
                  ; flair 
                  [:0 [:focus_desktop 2]]
                  [:!S0 [:send_to_desktop 2]]
                  ]}
;       {:des "right cmd -> meh"
;         :rules [[:##right_command :!CTright_option nil {:alone :right_command}]]}
;        {:des "right command mode"
;         :rules [:righ_command-mode
                 ;[:open_bracket :!SOTopen_bracket]
                 ;[:close_bracket :!SOTclose_bracket]
                 ;[:semicolon :!SOTsemicolon]
                 ;[:quote :!SOTquote]
                 ;[:comma :!SOTcomma]
                 ;[:period :!SOTperiod]
                 ;[:slash :!SOTslash]
                 ;[:a :!SOTa]
                 ;[:b :!SOTb]
                 ;[:c :!SOTc]
                 ;[:!Cc :!CSOTc]
                 ;[:d :!SOTd]
                 ;[:e :!SOTe]
                 ;[:f :!SOTf]
                 ;[:g :!SOTg]
                 ;[:h :!SOTh]
                 ;[:i :!SOTi]
                 ;[:j :!SOTj]
                 ;[:k :!SOTk]
                 ;[:l :!SOTl]
                 ;[:m :!SOTm]
                 ;[:n :!SOTn]
                 ;[:o :!SOTo]
                 ;[:p :!SOTp]
                 ;[:q :!SOTq]
                 ;[:r :!SOTr]
                 ;[:s :!SOTs]
                 ;[:t :!SOTt]
                 ;[:u :!SOTu]
                 ;[:v :!SOTv]
                 ;[:w :!SOTw]
                 ;[:x :!SOTx]
                 ;[:y :!SOTy]
                 ;[:z :!SOTz]
                 ;[:1 :!SOT1]
                 ;[:!C1 :!CSOT1]
                 ;[:2 :!SOT2]
                 ;[:3 :!SOT3]
                 ;[:4 :!SOT4]
                 ;[:5 :!SOT5]
                 ;[:6 :!SOT6]
                 ;[:7 :!SOT7]
                 ;[:8 :!SOT8]
                 ;[:9 :!SOT9]
;                 [:0 :!SOT0]]}
]}
